<div class="page-header">
  <h1>Books</h1>
</div>

<ul class="media-list">
<% @books.each do |book| %>
  <li class="media">
    <%= link_to image_tag(book.image.url, class: "media-object"), book_path(book), class: '' %>
  </li>
<% end %>
  <li class="media">
    <%= link_to "New Book", new_book_path, class: "media-object" %>
  </li>
</ul>
