<div class="page-header">
  <h1>Books</h1>
</div>

<div class="row">
<% @books.each do |book| %>
  <div class="col-md-4">
  <%= link_to book_path(book) do %>
    <div class="doc">
      <%= image_tag(book.document.url, alt: "Document", class: 'doc-thumb') %>
      <br />
      <p class="doc-title"><%= book.title %></p>
    </div>
  <% end %>
</div>
<% end %>
  <div class="col-md-4">
    <div class="doc">
    <%= link_to new_book_path do %>
      <div class="new-doc">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <p>
          Add your own Book
        </p>
      </div>
    <% end %>
    </div>
  </div>
</div>
