<div class="page-header">
  <h1>Books</h1>
</div>

<ul class="media-list">
<% @books.each do |book| %>

  <%= link_to book.title, book_path(book) %>
<% end %>
  <li class="media">
    <%= link_to "New Book", new_book_path, class: "media-object" %>
  </li>
</ul>
