/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {text-decoration: none !important;}

header {
  padding: 20px 25px;
  width: 100%;

  .logo {
    float: left;
    font-size: 22px;
    font-family: 'Arial', cursive;
    color: #333;
    font-weight: bold;
  }
}

.search-group {
  float: left;
  position: relative;
  margin-left: 50px;
  width: 550px;

  .search-input {
    position: relative;
    padding: 5px;
    width: 500px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #888;
    font-family: 'Arial';
    font-size: 16px;
    color: #000;
    //transition: background-color 1s;
  }
  .search-input:focus {
    background-color: #fff;
    outline-style: none;
    border: 0px;
    border-bottom: 0px solid #ccc;
  }
  .search-submit {
    position: relative;
    padding: 6.25px 12px;
    margin-left: -2px;
    background-color: transparent;
    border: 0px;
  }
  .search-submit:active {
    opacity: .8;
  }
}

main {
  width: 100%;
  padding-bottom: 45px;
}

footer {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #ddd;

  span {
    float: left;
    margin-top: 15px;
    color: #222;
    font-family: 'Roboto';
  }

  .github-link {
    float: right;
    border-radius: 100%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }
  .github-link:hover {
    opacity: .8;
  }
}

@media only screen and (max-width: 800px) {
  .search-group {
    margin-top: 15px;
    margin-left: 0px;
    width: 100%;

    .search-input {
      padding-left: 0px;
      width: 90%;
    }
    .search-submit {

    }
  }
}
