// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc {
  display: block;
  padding: 10px;

  .doc-thumb {
    width: 100%;
    height: auto;
    max-height: 425px;
    border: 1px solid #888;
  }

  .doc-title {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;
    color: #222;
    text-align: center;
  }
}

.new-doc {
  padding: 200px 0px;
  width: 100%;
  max-height: 550px;
  border: 2px dashed #ccc;
  text-align: center;
  font-size: 18.5px;
  color: #222;
}

.new-doc:hover {
  opacity: .8;
}

.doc-show {
  width: 100%;
  max-height: 550px;
  padding: 10px;

  img {
    position: relative;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    max-height: 550px;
    border: 1px solid #888;
  }
}

.doc-info {
  width: 100%;
  padding: 25px 20px;
}


@media only screen and (max-width: 950px) {

}
