// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc {
  padding: 10px;

  .doc-thumb {
    width: 350px;
    height: auto;
  }

  .doc-title {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;
    color: #222;
    text-align: center;
  }
}


@media only screen and (max-width: 800px) {
  .media-object {
    width: 100%;
  }
}
