// Sessions stylesheet

.log {
  position: relative;
  margin: 0px auto;
  width: 500px;
  height: 50vh;

  h2 {
    font-size: 38px;
    font-family: 'Arial';
    color: #222;
    font-weight: bold;
  }

}

.log-input {
  position: relative;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  border: 2px;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.log-input:focus {
  background-color: #fff;
  outline-style: none;
}

.btn-submit {
  color: #fff;
  font-size: 18px;
  background: #222;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}
