<!DOCTYPE html>
<html>
<head>
  <title>Share Book</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Share Book</a>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <%= yield %>

  </main>
  <footer>

  </footer>
</body>
</html>
